.signup-component {
  background-color: var(--blue-25);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  .signup-content {
    padding: 15px;
    border: 1px solid var(--blue-700);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .signup-title {
      display: flex;
      justify-content: center;
      padding: 10px;
      color: var(--blue-700);
    }
    .signup-button {
      margin: 10px 0;
    }
    .signup-question {
      display: flex;
      justify-content: center;
      min-width: 220px;
    }
  }
}
